<p-card header="Bienvenido" [style]="{ width: '25rem' }">
    <div class="flex justify-content-center">
        <div class="flex flex-column">
            <div class="flex justify-content-center">
                <button onclick="window.location.href = '/user-profile'" class="p-button p-button-primary">Iniciar
                    sesión</button>
            </div>
            <div class="flex justify-content-center">
                <p>o</p>
            </div>
            <div class="flex justify-content-center">
                <a routerLink="/register" class="p-button p-button-secondary no-underline">Registrarse</a>
            </div>
        </div>
    </div>
</p-card>